<div class="main">

  <div class="empty"></div>

  <div class="settings-div">
    <h1>Profile setings</h1>
    <div class="group2">
      <label class="label2">{{'Change your profile picture' | translate}}:</label>
      <div class="pfp">
        <img src="{{url}}" alt="">
      </div>
      <input type="file" class="form-control-file" (change)="onselectFile($event)">
    </div>
    <div class="group2">
      <label class="label2">{{'Edit your profile data' | translate}}:</label>
      <div class="data-div">
        <label class="label3">Email</label>
        <input class="input" id="email" [value]="user.email"/>
      </div>
      <div class="data-div">
        <label class="label3">{{'Username' | translate}}</label>
        <input class="input" id="username" [value]="user.username" />
      </div>
      <div class="data-div">
        <label class="label3">{{'Bio' | translate}}</label>
        <input class="input" id="bio" [value]="user.bio" />
      </div>
      <div class="btn-container">
        <button class="btn" (click)="SaveChanges()">{{'Save' | translate}}</button>
      </div>
    </div>
    <div class="group2">
      <label class="label2">{{'Change your password' | translate}}:</label>
      <div class="btn-container2">
        <button class="btn2" (click)="Change()">{{'Change' | translate}}</button>
      </div>
    </div>
    <label class="label4">{{'Delete profile' | translate}}:</label>
      <div class="btn-container2">
        <button class="btn3" (click)="Delete()">{{'Delete' | translate}}</button>
      </div>
    <div class="empty"></div>
  </div>

</div>
