<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main_div">
  <div class="profile-div">
    <div class="settings-div">
      <button class="settings">⚙</button>
    </div>
    <div class="pfp">
      <img src="https://staticc.sportskeeda.com/editor/2022/07/ce8fa-16583121888826.png" alt="">
    </div>
    <div class="profile_user_data">
      <label class="username"><b>Hebaccio</b></label>
      <label class="bio">This is an attempt to see how the bio would look like.
        Pressed enter just now and I hope this is in the new row (It's not sadly), I ran out of things to say so I'm just talking
        jubberish to try and get as many words as possible. Also hope this will look good in responsive, BISMILLAH!</label>
    </div>
  </div>

  <div class="faves-div">
    <label class="faveslabel">Favourites</label>
    <div class="faves">
      <div class="favesimg"><img src="https://lumiere-a.akamaihd.net/v1/images/p_avatar_de27b20f.jpeg" alt=""></div>
      <div class="favesimg"><img src="https://assets-prd.ignimgs.com/2022/02/18/house-of-the-dragon-button-02-1645217002655.jpg" alt=""></div>
      <div class="favesimg"><img src="https://m.media-amazon.com/images/M/MV5BNDVkYjU0MzctMWRmZi00NTkxLTgwZWEtOWVhYjZlYjllYmU4XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_FMjpg_UX1000_.jpg" alt=""></div>
      <div class="favesimg"><img src="https://kbimages1-a.akamaihd.net/1e6c340c-02c9-4a19-bef4-e000882f0056/1200/1200/False/avatar-the-last-airbender-the-lost-adventures-1.jpg" alt=""></div>
      <div class="favesimg"><img src="https://m.media-amazon.com/images/M/MV5BNTg3NjcxYzgtYjljNC00Y2I2LWE3YmMtOTliZTkwYTE1MmZiXkEyXkFqcGdeQXVyNTY4NDc5MDE@._V1_FMjpg_UX1000_.jpg" alt=""></div>
      <div class="favesimg"><img src="https://lumiere-a.akamaihd.net/v1/images/p_thechronicalsofnarnia_lionwitchwadrobe_19890_fe46d195.jpeg" alt=""></div>
      <div class="favesimg"><img src="https://lumiere-a.akamaihd.net/v1/images/avco_payoff_1-sht_v7_lg_32e68793.jpeg?region=0%2C0%2C1620%2C2400&width=960" alt=""></div>
    </div>
  </div>

  <div class="stats-div">
    <div class="stats-container">
      <div class="stats">
        <label class="stats-name">Media Ratio</label>
        <div class="pie-chart1"></div>
        <div class="legenda1">
          <label class="item1">Movies - 30%</label>
          <label class="item2">TV Shows - 70%</label>
        </div>
      </div>
    </div>
    <div class="stats-container">
      <div class="stats">
        <label class="stats-name">Media States</label>
        <div class="pie-chart2"></div>
        <div class="legenda1">
          <label class="item1">Planning - 40%</label>
          <label class="item2">Watching - 30%</label>
          <label class="item3">Completed - 30%</label>
        </div>
      </div>
    </div>
    <div class="stats-container">
      <div class="stats">
        <label class="stats-name">Favourite Genre</label>
        <div class="pie-chart3"></div>
        <div class="legenda1">
          <label class="item1">Action - 15%</label>
          <label class="item2">Romance - 45%</label>
          <label class="item3">Fantasy - 40%</label>
        </div>
      </div>
    </div>
  </div>

  <!--
<div class="faves2-div">
  <div class="container-div">
    <div class="statistics">
      <label class="titles">Top genres</label>
    </div>
  </div>
  <div class="container-div">
    <div class="statistics">
      <label class="titles">Ratio</label>
      <div class="chart-div">
        <div id="my-pie-chart"></div>
        <div class="chart-data"></div>
      </div>
    </div>
  </div>
  <div class="container-div">
    <div class="statistics">
      <label class="titles">Media states</label>
    </div>
  </div>
</div>-->

</div>
