<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main_div">
  <div class="profile-div">
    <div class="settings-div">
      <button class="settings" (click)="OpenSettings()">⚙</button>
      <button class="logout" (click)="LogOut()">{{'Logout' | translate}}</button>
    </div>
    <div class="pfp">
      <img src="{{user.picture}}" alt="">
    </div>
    <div class="profile_user_data">
      <label class="username"><b>{{user.username}}</b></label>
      <label class="bio">{{user.bio}}</label>
    </div>
  </div>

  <div class="faves-div">
    <label class="faveslabel">{{'Favourites' | translate}}</label>
    <div class="faves">
      <div class="faves-container" *ngFor="let favourites of userFavourites" (click)="OpenMedia(favourites.media)">
        <div class="favesimg"><img src="{{favourites.media.picture}}"  alt=""></div>
      </div>
    </div>
  </div>


</div>
