<div class="main-div">
  <div *ngIf="bgColorP" class="header1">
    <div class="user-container">
      <div class="profile-photo">
        <img src="{{user.picture}}">
      </div>
      <div class="user-name">
        <h4>{{user.username}}</h4>
      </div>
    </div>
  </div>
  <div *ngIf="bgColorW" class="header2">
    <div class="user-container">
      <div class="profile-photo">
        <img src="{{user.picture}}">
      </div>
      <div class="user-name">
        <h4>{{user.username}}</h4>
      </div>
    </div>
  </div>
  <div *ngIf="bgColorF" class="header3">
    <div class="user-container">
      <div class="profile-photo">
        <img src="{{user.picture}}">
      </div>
      <div class="user-name">
        <h4>{{user.username}}</h4>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="sidebar">
      <button class="state" (click)="showPlanning()">{{'Planning' | translate}}</button>
      <button class="state" (click)="showWatching()">{{'Watching' | translate}}</button>
      <button class="state" (click)="showFinished()">{{'Finished' | translate}}</button>
    </div>
    <div class="content">
      <div *ngIf="list1" class="list">
        <div class="container" *ngFor="let s of shows">
          <div class="show-container" *ngIf="s.state.stateID==1">
            <div class="show-poster">
              <img src="{{s.tvShow.media.picture}}">
            </div>
            <div class="show-name">
              <h4>{{s.tvShow.media.name}}</h4>
              <p>{{s.tvShow.episodeRuntime}} min</p>
            </div>
            <div class="edit-container">
              <button class="edit" type="button" (click)="Edit(s.tvShow)"><img src="https://www.svgrepo.com/show/36160/edit-button.svg"></button>
              <div class="hide-edit">{{'Edit watchlist' | translate}}</div>
              <button class="delete" type="button" (click)="Delete(s.tvShow)"><img src="https://www.svgrepo.com/show/437579/clear.svg"></button>
              <div class="hide-delete">{{'Delete from watchlist' | translate}}</div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="list2" class="list">
        <div class="container" *ngFor="let s of shows">
          <div class="show-container" *ngIf="s.state.stateID==2">
            <div class="show-poster">
              <img src="{{s.tvShow.media.picture}}">
            </div>
            <div class="show-name">
              <h4>{{s.tvShow.media.name}}</h4>
              <p>{{s.tvShow.episodeRuntime}} min</p>
            </div>
            <div class="edit-container">
              <button class="edit" type="button" (click)="Edit(s.tvShow)"><img src="https://www.svgrepo.com/show/36160/edit-button.svg"></button>
              <div class="hide-edit">{{'Edit watchlist' | translate}}</div>
              <button class="delete" type="button" (click)="Delete(s.tvShow)"><img src="https://www.svgrepo.com/show/437579/clear.svg"></button>
              <div class="hide-delete">{{'Delete from watchlist' | translate}}</div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="list3" class="list">
        <div class="container" *ngFor="let s of shows">
          <div class="show-container" *ngIf="s.state.stateID==3">
            <div class="show-poster">
              <img src="{{s.tvShow.media.picture}}">
            </div>
            <div class="show-name">
              <h4>{{s.tvShow.media.name}}</h4>
              <p>{{s.tvShow.episodeRuntime}} min</p>
            </div>
            <div class="edit-container">
              <button class="edit" type="button" (click)="Edit(s.tvShow)"><img src="https://www.svgrepo.com/show/36160/edit-button.svg"></button>
              <div class="hide-edit">{{'Edit watchlist' | translate}}</div>
              <button class="delete" type="button" (click)="Delete(s.tvShow)"><img src="https://www.svgrepo.com/show/437579/clear.svg"></button>
              <div class="hide-delete">{{'Delete from watchlist' | translate}}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

