.maindiv{
  display: flex;
  height: 1100px;
}

.signup{
  width: 90%;
  height: 50%;
  margin-top: 50px;
  max-height: 480px;
  max-width: 600px;

  align-items: center;
  margin-left: auto;
  margin-right: auto;

  background-color: #262525FF;
  border-radius: 20px;
}
.title{
  color: white;
  font-size: xx-large;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.group{
  width: 100%;
}
.label{
  color: white;
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.input{
  color: white;
  width: 80%;
  max-width: 700px;
  min-width: 240px;
  display: block;
  font-size: large;
  background-color: #726f6f;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 9px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.password-div{
  color: white;
  width: 80%;
  max-width: 700px;
  min-width: 240px;
  display: flex;
  font-size: large;
  background-color: #726f6f;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  padding-left: 10px;
  align-items: center;
  margin-bottom: 5px;
}
.inputpass{
  color: white;
  width: 95%;
  max-width: 700px;
  min-width: 200px;
  display: block;
  font-size: large;
  background-color: #726f6f;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
}

.labeleye{
  filter: grayscale(100%) brightness(50%);
  width: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-right: 10px;
}
.labeleye:hover{
  filter: grayscale(100%) brightness(100%);
}

.form-check-label{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.btn{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: rgb(184, 84, 50);
  padding-left: 10px;
  padding-right: 10px;

  margin-bottom: 25px;
  margin-top: 15px;
}
.btn:hover{
  background-color: rgb(229, 86, 40);
}
.group3{
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.login{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  width: 80%;
  padding: 0px;
}
.label-login{
  color: white;
  font-size: larger;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  margin-top: 10px;
}
