
<div class="maindiv">

  <div class="signup">

    <div class="title">Log-in</div>

    <div class="group">
      <label class="label">Username:</label>
      <input class="input"/>
    </div>

    <div class="group">
      <label class="label">Password:</label>
      <div class="password-div">
        <input class="inputpass" [type]="passwordType1"/>
        <label class="labeleye" (click)="togglePassword1()">👁️</label>
      </div>
      <p class="form-check-label" style="color: white">
        Forgot your password?<a href="#">Update here!</a>
      </p>
      <button type="button" class="btn">Log-in</button>
    </div>
    <div class="login">
      <label class="label-login">Don't have an account?</label>
      <button type="button" class="btn" (click)="SignUp()">Sign-Up</button>
    </div>
  </div>
</div>
