
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container{
  padding: 0 !important;
  background: transparent;
  border-radius: 20px !important;
}
