<div class="search-container">
<div class="search-div">
  <input class="search-bar" [(ngModel)]="searchText" (input)="searchMedia(searchText)" placeholder="{{'Search' | translate}}">
  <!--<img class="img_search" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Google_Magnifying_Glass.svg/1024px-Google_Magnifying_Glass.svg.png" alt="">-->
</div>
</div>
<ul class="list" *ngIf="searchText !== ''">
  <li class="option" *ngFor="let media of searchedMedia | appFilter: searchText" (click)="redirectToMedia(media)" (mouseenter)="onMouseEnter(media)" (mouseleave)="onMouseLeave()">
    <span [innerHTML]="media.name | highlight: searchText: hoveredMedia"></span>
  </li>
</ul>
<div class="div-main-media">
  <!--*ngIf="isDataLoaded"-->
  <div class="banner" style="background-image: url('{{selectedMedia.backdrop}}')">
  </div>
  <div class="info" >
    <div class="cover-overlap-banner">
      <div class="poster-wrap">
        <img class ="poster" src="{{selectedMedia.picture}}">
        <div class="buttons">
          <button class="add-button" type="button" (click)="AddToWatchlist()">{{'Add to Watchlist' | translate}}</button>
          <button class="favorite-button" type="button" (click)="AddToFavourites(selectedMedia)">♡</button>
        </div>
      </div>
    </div>
    <div class="description-container">
      <div clas="tags-container" >
        <p class="tag" *ngFor="let tag of genreMedia">{{tag.genre.genreName}}</p>
        <p class="rating">{{'Rating' | translate}}: {{selectedMedia.rating}}</p>
      </div>
      <div class="description">
        <h1>{{selectedMedia.name}}</h1>
        <h3>Description</h3>
        <p>{{selectedMedia.synopsis}}</p>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="sidebar">
      <div class="name">Release Date:</div>
      <p>{{selectedMedia.airDate | date:'dd. MM. yyyy.'}}</p>
      <div class="movie-info" [(ngModel)]='movie' *ngIf='movie !== null' >Duration:</div>
      <p class="movie-info"  *ngIf='movie !== null' >{{movie.runtime}} min</p>
      <div class="show-info" [(ngModel)]='tvShow' *ngIf='tvShow !== null' >Season count:</div>
      <p class="show-info" *ngIf='tvShow !== null'>{{tvShow.seasonCount}} seasons</p>
      <div class="show-info" [(ngModel)]='tvShow' *ngIf='tvShow !== null' >Episodes per season:</div>
      <p class="show-info" *ngIf='tvShow !== null'>{{tvShow.episodeCount}} episodes</p>
      <div class="show-info" [(ngModel)]='tvShow' *ngIf='tvShow !== null' >Episode duration:</div>
      <p class="show-info" *ngIf='tvShow !== null'>{{tvShow.episodeRuntime}} min</p>
      <div class="name">Status:</div>
      <p>{{selectedMedia.status.statusName}}</p>
    </div>
    <div class="staff-container">
      <div class="staff-info">
        <h3>{{'Cast and Crew' | translate}}</h3>
        <div class="staff">
          <div class="person-container"*ngFor="let staff of mediaPerson">
            <img src="{{staff.person.picture}}">
            <div class="person-desc">
              <p>{{staff.person.name}} {{staff.person.lastName}}</p>
              <div class="role-character">
                <p class="role">{{staff.role.roleName}}</p>
                <p class="character">{{staff.character}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
