<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">Trackster</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="language-container">
      <select class="language" #selectedLang (change)="changeLang(selectedLang.value)">
        <option value='en' [selected]="lang == 'en'">English</option>
        <option value='ba' [selected]="lang == 'ba'">Bosanski</option>
      </select>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home">{{'Home' | translate}}</a>
        <a class="nav-link" routerLink="/profile">{{'Profile' | translate}}</a>
        <a class="nav-link" routerLink="/movie-watchlist">{{'Movie List' | translate}}</a>
        <a class="nav-link" routerLink="/tvseries-watchlist">{{'TVShow List' | translate}}</a>
        <!--<a class="nav-link" routerLink="/about-us">About us</a>-->
      </div>
    </div>
  </div>
</nav>

<div class="outlet">
  <router-outlet></router-outlet>
</div>
