.outlet{
  background-color: rgba(94, 101, 128, 1);
}
.navbar-toggler{
  background-color: white;
}
.navbar-toggler-icon{
  color: black;
}
.nav-link {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 1px 0px 20px;
  border-radius: 15px;
  border-color: transparent;
  padding: 8px 15px 9px 15px;
}
.nav-link:hover{
  transform: scale(1.10);
}
.navbar-brand{
  color: white;
  font-size: x-large;
}
.navbar-collapse{
  text-align: center;
}
.navbar-nav{
  padding: 0.7% 40% 0.7% 30%;
}
