<div class="main">
  <div class="empty"></div>
  <div class="UpdatePass-Container">
    <h2>Update password</h2>
    <div class="details">
      <label class="label">Username:</label>
      <input class="input"/>
    </div>
    <div class="swap">
      <p>Forgot your email? <a class="link" (click)="EditPassword()">Try email!</a></p>
    </div>
    <label class="label">Password:</label>
    <div class="password-div">
      <input class="inputpass" [type]="passwordType1"/>
      <label class="labeleye" (click)="togglePassword1()">👁️</label>
    </div>
    <label class="label">Password again:</label>
    <div class="password-div">
      <input class="inputpass" [type]="passwordType1"/>
      <label class="labeleye" (click)="togglePassword1()">👁️</label>
    </div>
    <div class="btncontainer">
      <button class="btn">Change</button>
    </div>
  </div>
</div>
