<div class="main-div">

  <div class="chose">
    <button class="pick">Movies</button>
    <button class="pick">TV-Shows</button>
  </div>
  <div class="search-div">
    <input class="search-bar" placeholder="Search media:">
    <img class="img_search" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Google_Magnifying_Glass.svg/1024px-Google_Magnifying_Glass.svg.png" alt="">
  </div>

  <div class="container">
    <form action="#" class="onepick">
      <label class="name" for="orderby">Order by:</label>
      <select name="select" id="orderby">
        <option class="izbor" value="Any">Any</option>
        <option class="izbor" value="Title">Title</option>
        <option class="izbor" value="Rating">Rating</option>
      </select>
    </form>
    <form action="#" class="onepick">
      <label class="name" for="status">Status</label>
      <select name="select" id="status">
        <option class="izbor" value="Any">Any</option>
        <option class="izbor" value="Upcoming">Upcoming</option>
        <option class="izbor" value="Airing">Airing</option>
        <option class="izbor" value="Completed">Completed</option>
      </select>
    </form>
    <form action="#" class="onepick">
      <label class="name" for="genre">Genre</label>
      <select name="select" id="genre">
        <option class="izbor" value="Any">Any</option>
        <option class="izbor" value="Action">Action</option>
        <option class="izbor" value="Fantasy">Fantasy</option>
        <option class="izbor" value="Romance">Romance</option>
        <option class="izbor" value="Animation">Animation</option>
      </select>
    </form>
    <button class="filter">Search</button>
  </div>

  <!--Ovo sam onako stavio da imas pretstavu gdje filmovi dolaze otprilike, ofc ti edituj kako hoces-->
  <div class="media-container">

  </div>
