.main-div{
  height: 2000px;
  background-color: rgba(94, 101, 128, 1);
}
.list{
  background-color: rgba(0, 0, 0, 0.53);
  width:50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: white;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.chose{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pick{
  padding: 8px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: large;
  color: white;
  background-color: black;
  border: 0px;
  transition: transform 0.2s ease-in-out;
}
.pick:hover{
  transform: scale(1.1);
}

.search-div {
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;


  border-radius: 30px;

  background-color: rgba(0, 0, 0, 0.53);

  height: 60px;
  width: 40%;
  min-width: 270px;
  max-width: 1200px;
}
.search-bar{
  border-radius: 10px;
  border: 1px transparent solid;
  background-color: transparent;
  color: white;
  outline: none;

  font-size: large;

  vertical-align: middle;
  text-align: center;

  height: 48px;
  width: 95%;

  padding-left: 10px;
}
.img_search{
  font-size: x-large;

  filter: grayscale(100%);
  background-color: rgb(141, 136, 136);
  filter: brightness(60%);
  border-radius: 50px;
  border: 1px transparent solid;
  /*outline: none;*/

  padding: 5px;
  margin-left: 5px;

  width: 50px;

  /*transition: transform 0.2s ease-in-out;*/
}
.img_search:hover{
  /*transform: scale(1.1);*/
  filter: brightness(100%);
}

.container{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.onepick{
  margin-left: 10px;
  margin-right: 10px;
}
.name{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.34);
  color: white;
  transition: transform 0.2s ease-in-out;
}
.name:hover{
  transform: scale(1.1);
}
select {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.18);
  color: black;
  text-align: center;
  /*-webkit-appearance: none; - DOESN'T WORK*/
  outline: none;
}
.filter{
  width: 60px;
  height: 35px;
  border: 1px black solid;
  color: black;
  background-color: rgb(166, 111, 108);
  border-radius: 10px;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: 40px;
  margin-left: 40px;

  transition: transform 0.2s ease-in-out;
}
.filter:hover{
  transform: scale(1.1);
}
#orderby{
  background-color: #4d5369;
  border-radius: 10px;
}
#orderby:hover{
  border: 1px black solid;
}
#status{
  background-color: #4d5369;
  border-radius: 10px;
}
#status:hover{
  border: 1px black solid;
}
#genre{
  background-color: #4d5369;
  border-radius: 10px;
}
#genre:hover{
  border: 1px black solid;
}
.izbor{
  background-color: #72799b;
}

.movie-container{
  margin-top: 30px;
  width: 75%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
.show-container{
  margin-top: 30px;
  width: 75%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
.movie-container::-webkit-scrollbar{
  background-color: #4d5369;
  border-radius: 10px;
  width: 15px;
}
.show-container::-webkit-scrollbar{
  background-color: #4d5369;
  border-radius: 10px;
  width: 15px;
}
.movie-container::-webkit-scrollbar-thumb{
  background-color: rgb(166, 111, 108);
  border-radius: 10px;
}
.show-container::-webkit-scrollbar-thumb{
  background-color: rgb(166, 111, 108);
  border-radius: 10px;
}
.movie{
  display: block;
  margin: 2% 1.7% 2% 1.7%;
  height: 350px;
  width: 180px;
}
.show{
  display: block;
  margin: 2% 1.7% 2% 1.7%;
  height: 350px;
  width: 180px;
}
.img-container{
  width: 180px;
  height: 256px;
}
.img-container img{
  width: 100%;
  object-fit: contain;
}
.opis{
  margin-top: 15px;
  margin-left: 10px;
}
.opis h2{
  margin-bottom: 0px;
}

@media only screen and (max-width: 1300px){
  .search-div {
    width: 60%;
  }
  .movie-container{
    height: 77%;
    overflow: scroll;
  }
  .show-container{
    height: 77%;
    overflow: scroll;
  }
}

@media only screen and (max-width: 800px) {
  .movie-container{
    height: 77%;
    overflow: scroll;
  }
  .show-container{
    height: 77%;
    overflow: scroll;
  }
}
@media only screen and (max-width: 700px) {
  .movie-container{
    height: 70%;
    overflow: scroll;
  }
  .show-container{
    height: 70%;
    overflow: scroll;
  }
}
